/*
Fuentes:
font-family: 'Archivo', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Karla', sans-serif;
*/

body {
	margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
}

@media (max-width:600px) {
	.center_phrase {
		display:none; /*prueba=Funciona*/
	}
}

.navbar {
	margin-bottom: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	background-color: #f6f6f6;
	height: 7em;
	border-radius: 0;
	border-bottom: 5px solid;
}

.navbar-nav>li>a {
	color: #2e2e2e;
	font-family: "Archivo";
	font-size: 1em;
	margin-top: 1.5em;
	padding-left: 2em;
}

.navbar-nav > li > a:hover {
	color: #D90404;
	background-color: #f6f6f6;
	font-family: "Archivo";
	font-weight: bold;
}

.navbar-toggle{
	background-color: #D90404;
}

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    border-radius: 0px;
}

.navbar_logo{
	max-width: 150px;
}

.navbar-nav > li > .dropdown-menu {
	background-color: #f6f6f6;
}

@media(max-width: 860px){
	.navbar-default .navbar-collapse, 
	.navbar-default .navbar-form {
		border-color: transparent;
		background-color: white;
		margin-top: 2.2em;
		margin-left: -20px;
		margin-right: -20px;
	}
}

.top_phrase {
	margin-top: 8.5em;
	text-align: center;
	color: white;
	background-color: #D90404;
	height: 8em;
	font-family: 'Noto Sans Japanese', serif; font-weight: 200;
}

.top_phrase h2 {
	margin-top: 0;
	padding-top: 0.8em;
}

.banner_section1 {
	height: 34em;
	background-color: #ebebe0;
}

@media (max-width: 900px){
	.banner_section1 {
	height: 20em;
	background-color: transparent;
	}
}

.header {
    color: #111111;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 25px;
    color: #111111;
}

.carousel-cell{
	width:100%;
	height: 500px;
	margin-top: 7em;
}

@media (max-width: 700px){
	.carousel-cell > img {
	max-width: 100%;
	max-height: 100%;
	}
}

.responsive {
	max-width: 100%;
	height: 480;
}

.center_phrase {
	margin-top: 0;
	text-align: center;
	color: white;
	background-color: #2e2e2e;
	height: 8em;
	margin-top: 0;
	font-family: 'Noto Sans Japanese', serif; font-weight: 200;
}

.center_phrase h3 {
	padding-top: 1.2em;
}

.categories {
}

.category__icon {
	max-width: 180px;
	padding-left: 20px;
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 2em;
	display: block;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
}

.category__icon:hover {
	opacity: 0.6;
}

.category__text {
	height: 70px;	
}

@media(max-width: 600px){
	.category__info > p {
		visibility: hidden;
	}
}


.middle_section {
	margin-top: 4em;
}

.category__info {
	font-family: "Roboto";
	font-size: 1.2em;
	list-style: none;
}

.about_us {
	float: left;
	font-family: "Roboto";
	font-size: 1.5em;
	padding-left: 3em;
}

.about_us > h2 {
	margin-top: 0;
}

@media (max-width: 600px){
	.about_us > p {
		font-size: 1em;
	}
}

.imagen_conocenos {
	display: inline;
	float: left;
	height: 400px;
	max-width: 300px;
}

@media () {
	.imagen_conocenos {
		max-width: 150px;
	}
}

.middle_phrase {
	margin-top: 0;
	text-align: center;
	color: white;
	background-color: #D90404;
	height: 8em;
	margin-top: 0;
	font-family: 'Noto Sans Japanese', serif; font-weight: 200;
}

.middle_phrase h2 {
	margin-top: 0;
	padding-top: 0.5em;
}

/*Formulario comienza aquí*/

.contact {
	font-family: "Roboto";
	font-size: 1.2em;
}

.contact_section{
	margin-bottom: 2em;
}

.contact_form {
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.arrow-up {
  position: relative;
  top: 1px;
  width: 0; 
  height: 0;
  margin-top: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f7f7f7;
}

form#contact {
  width: 400px;
  padding: 20px;
  background-color: #f7f7f7;
}

.form-control {
	width: 360px;
  box-shadow: none;
  border-radius: 0;
  background-color: #f7f7f7;
  outline: none;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #e3e3e3;
}

textarea#message {
  min-height: 100px;
  overflow: hidden;
  border-bottom: 0px;
}

button#send {
  margin-top: 30px;
  letter-spacing: 2px;
  background-color: #e3e3e3;	
}

button#send:hover{
	background-color: #D90404;
	color: white;
} 

.map {
	float: left;
}

/*Footer Styles*/
.footer {
	max-width: 100%;
	height: 220px;
	background-color: black;
}

.social_networks {
	margin-top: 4em;
}

.social_icon {
	display: inline;
	font-size: 1.5em;
	color: #cccccc;
	padding-left: 30px;
	margin-top: 3em;
}

.social_icon>a{
	color:red;
}

.social_icon:hover {
	color:#D90404;
}


.contact_info {
	margin-left: 30px;
	padding-top: 1.2em;
	font-family: "Roboto";
	color: #cccccc;
	text-align: center;
}

.footer_phrase {
	color: #f6f6f6;
	font-family: "Roboto";
	margin-top: 1.2em;
	margin-left: 2.5em;
}

.logo_foot{
	max-width: 200px;
	margin-top: 1.5em;
	margin-left: 2.5em;
}

#phone_icon {
	visibility: hidden;
}

@media (max-width: 800px) {
	.footer {
		height: 320px;
	}

	.logo_foot{
		margin-left: 5em;
	}

	.social_networks {
		margin-top: 0.8em;
	}

	#phone_icon{
		visibility: visible;
	}

	.social_icon {
		font-size: 2em;
	}
}

.copyright {
	color: #a19281;
	font-family: "Karla";
	font-size: 12px;
	margin-top: 1em;
	margin-left: 1.5em;
	padding-top: 1em;
	text-align: center;
	border-top: 1px solid #a19281;
}


/*Css Conóceneos*/

.about_title {
	padding-left: 50px;
}

.about_image {
	max-width: 100%;
	display: block;
	padding: 0 50px 0px 50px;
	margin-bottom: 1em;
}

.about_image_1 {
	max-width: 200px;
}

.about_info {
	padding: 0 50px 20px 50px;
	font-family:"Karla";
	font-size: 1.5em;
}

section .sidebar_left {
	padding-top: 0;
}

.sidebar_left {
	display:table-cell;
	box-sizing: border-box;
	background-color: #F0F0F0;
	width: 60%;
}

.sidebar_right {
	display: table-cell;
	box-sizing: border-box;
	font-family: "Roboto";
	background-color: #D90404; /*Cambiar color*/
	width: 40%;
	padding-top: 8em;
	color: #f6f6f6;
}

.blog_title {
	padding-left: 50px;
}

@media (max-width: 600px){
	.about_info {
		font-size: 1.2em;
		padding: 0 20px 10px 20px;
	}

	.about_image_1 {
		margin-left: 80px;
	}

	.about_image {
		max-width: 100%;
		display: block;
		padding: 0 20px 0px 20px;
		margin-bottom: 1em;
}
	.sidebar_left {
		width: 70% 
	}

	.sidebar_right {
		width: 30%
	}

	.sidebar_right > p {
		display: none;
	}

}

/*Css Clases */

.clases_info {
	font-family:"Karla";
	font-size: 1.5em;
	margin-top: 2em;
	margin-right: 4em;
	border:solid 1.5px;
	border-radius: 20px;
}

.clases_info > p{
	border-top: solid 0.5px;
	border-color: red;
}

.class_image_logo {
	max-width: 1150px;
	margin-top: 3em;
	padding: 0;
}

.class_image_kana {
	max-width: 1150px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 100px;
}

.class_image {
	max-width: 1150px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.clases_info_2 {
	font-family:"Karla";
	font-size: 1.5em;
	margin-top: 1em;
}

.clases_info_3 {
	font-family:"Karla";
	font-size: 1.5em;
	margin-top: 2em;
	margin-right: 1em;
	background-color: grey;
	color: white;
	border-radius: 20px;
	margin-bottom: 2em;
	text-align: center;
}

.class_section_2 {
	background-color: #F0F0F0;
	height: 350px;
}

.class_section_2 {
	background-color: #F0F0F0;
	height: 400px;
}

.classes_objective_main {
	font-family:"Karla";
	font-size: 2em;
	margin-top: 2em;
	padding-top: 1.5em;
	margin-right: 1.8em;
	text-align: center;
}

.classes_objectives {
	font-family:"Karla";
	font-size: 1.5em;
	margin-top: 1em;
	padding-left: 3em;
}

.center_phrase_classes {
	margin-top: 0;
	text-align: center;
	color: white;
	background-color: #2e2e2e;
	height: 8em;
	font-family: 'Noto Sans Japanese', serif; font-weight: 200;
}

.center_phrase_classes h2 {
	margin-top: 0;
	padding-top: 1em;
}

.method_title {
	font-family: 'Noto Sans Japanese', serif; font-weight: 700;
	margin-top: 1.5em;
}

#back-to-top {
    position: fixed;
    bottom: 8px;
    right: 40px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #cccccc;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 20px;
}

/*Map Styles*/
#map {
  height: 100%;
}

.icon > i {
  font-family: 'weathericons';
  font-size: 15rem;
  font-style: normal;
}

/*Map style*/
#map {
	height: 360px;  /* The height is 400 pixels */
    width: 50%;  /* The width is the width of the web page */
    }


/*Store styles*/

.products {
	text-align: center;
	padding: 0;
	padding-top: 10em;
}

.products__books {
	display: inline-block;
	padding: 10px 10px 30px 10px;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin: 1em;

}

.products__thumbnail {
	display: block;
	position: relative;
	width: 300px;
	height: 400px;
}

.products__img {
	width: 100%;
}

.social {
	background-color: white;
	padding: 5px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 1em;
}

.social__element {
	display: inline-block;
	margin: 0 10px;
}

.social__btn {
	border: none;
	background: none;
	font-size: 1.2em;
	color: grey;
}

.social__btn_cart {
	border: none;
	background: none;
	font-size: 1.2em;
	color: grey;
}

.social__btn:hover {
	color: red;
}

.social__btn_cart:hover {
	color: black;
}

.social__like--clicked {
	color: red;
	text-shadow: 0 1px 7px rgba(255,255,0,1);
}

.social__like--clicked:hover {
	color: tomato;
}

.countdown {
	font-family: "Roboto";
	font-size: 3em;
}

.countdown_title {
	font-family: "Roboto";
	font-size: 2em;
}

.btn_phrase{
	height:60px; 
	width:120px;
	padding: 5px;
	border-radius: 10px;
	border:none;
	color:black;
	margin-left: 50px;
}
